workflows/chat_support (2).json
{
  "name": "chat_support",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0800f227-8921-493b-af56-e1b257c40cbb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6654a01-8ef6-4141-91c4-6af4ceb21479",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "neutral or positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        556,
        -300
      ],
      "id": "41fa2f3c-2411-4e1e-aab0-43f7aea8de94",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08KE83HNJV",
          "mode": "list",
          "cachedResultName": "support-escalations"
        },
        "message": "=Hello, the user has had a negative experience. \nMessage: {{ $('When chat message received').item.json.chatInput }}\n\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Who will be assigned to the case? ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1216,
        -400
      ],
      "id": "2c0fbaa7-7ceb-406b-9869-11906975b99b",
      "name": "Slack1",
      "webhookId": "0dc34914-76ef-47c7-8fe6-2d9f2aa1822d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Fx23G7lUEOcTJf43",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{{ $('When chat message received').item.json.chatInput }}\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        776,
        -225
      ],
      "id": "348b70e6-b8ff-4a09-b8fa-43d7422cf345",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -300
      ],
      "id": "1d1e723c-f94b-40b1-8921-bbfbd0f77a30",
      "name": "When chat message received",
      "webhookId": "1a54b25c-47cf-4550-a2fe-125a5c8e94c1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Categorise the sentiment of the customer's message: \n{{ $json.chatInput }}\n\nIt can either be:\n- neutral or positive\n- negative\n\nAnswer only with those values. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        180,
        -300
      ],
      "id": "3abaaf5a-1224-4eb2-88c5-e31e30132608",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        -80
      ],
      "id": "e08b8fc2-b63b-4b46-beb9-a4e93721568a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0pHUGt34ZFq4jnDD",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        328,
        -80
      ],
      "id": "df639f7a-8b5f-4048-8f12-92fe10203d7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f753bf66-788e-4ae5-be17-81a86eded870",
              "name": "",
              "value": "=Thank you for getting in touch. Please note that  {{ $json.data['Who will be assigned to the case? '] }} was assigned to your case and will be in touch shortly. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1436,
        -400
      ],
      "id": "34a155b7-f730-423b-b085-c680eff7833f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb2fe7db-fa3b-43a4-b802-944caa0ba913",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "not sure",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        996,
        -225
      ],
      "id": "9c1189ae-3c6c-45e4-b7ac-9b3d70e26e66",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72cdb1e2-ecfc-482a-9fd1-09fe490f8162",
              "name": "",
              "value": "={{ $json.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -175
      ],
      "id": "e41ba7f4-0195-4225-9fe6-593980d64da5",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a4a166f-3d90-4ce0-b8d4-9b4417e1be8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "602bb8e1e6ecdd1e7215e8ba343406efb19a4624858e69b547dc8cf5d6e8bc92"
  },
  "id": "QVGJ9N7est0FuC8n",
  "tags": []
}